<div class="preview">
    <app-playing-card [monster]="monster" />
</div>
<div class="main">
    <form [formGroup]="formGroup" (submit)="submit($event)">
        <mat-form-field>
            <mat-label for="name">Name</mat-label>
            <input matInput id="name" name="name" type="text" formControlName="name" />
            @if (isFieldValid('name')) {
                <div class="error">This field is required and must be at least 3 characters long.</div>
            }
        </mat-form-field>
        <div class="form-field">
            <button mat-raised-button type="button" (click)="imageInput.click()">Upload file: {{imageInput.files?.[0]?.name || 'No file selected'}}</button>
            <input hidden #imageInput id="image" name="image" type="file" (change)="onFileChange($event)" />
            @if (isFieldValid('image')) {
                <mat-error>This field is required.</mat-error>
            }
        </div>
        <mat-form-field>
            <mat-label for="type">Type</mat-label>
            <mat-select id="type" name="type" formControlName="type">
                @for (type of monsterTypes; track type) {
                    <mat-option [value]="type">{{ type }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="hp">HP</mat-label>
            <input matInput id="hp" name="hp" type="number" formControlName="hp" />
            @if (isFieldValid('hp')) {
                @if (formGroup.get('hp')?.errors?.['required']) {
                    <div class="error">This field is required.</div>
                } @else if (formGroup.get('hp')?.errors?.['min'] || formGroup.get('hp')?.errors?.['max']) {
                    <div class="error">HP must be between 1 and 200.</div>
                }
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label for="figureCaption">Figure caption</mat-label>
            <input matInput id="figureCaption" name="figureCaption" type="text" formControlName="figureCaption" />
            @if (isFieldValid('figureCaption')) {
                <mat-error>This field is required.</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label for="attackName">Attack Name</mat-label>
            <input matInput id="attackName" name="attackName" type="text" formControlName="attackName" />
            @if (isFieldValid('attackName')) {
                <mat-error>This field is required.</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label for="attackStrength">Attack Strength</mat-label>
            <input matInput id="attackStrength" name="attackStrength" type="number" formControlName="attackStrength" />
            @if (isFieldValid('attackStrength')) {
                @if (formGroup.get('attackStrength')?.errors?.['required']) {
                    <div class="error">This field is required.</div>
                } @else if (formGroup.get('attackStrength')?.errors?.['min'] || formGroup.get('attackStrength')?.errors?.['max']) {
                    <div class="error">Attack Strength must be between 1 and 200.</div>
                }
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label for="attackDescription">Attack Description</mat-label>
            <textarea matInput id="attackDescription" name="attackDescription" formControlName="attackDescription"></textarea>
            @if (isFieldValid('attackDescription')) {
                <mat-error>This field is required.</mat-error>
            }
        </mat-form-field>
        <div class="button-container left">
            <button mat-flat-button class="delete-btn" type="button" (click)="deleteMonster()">Delete</button>
        </div>
        <div class="button-container right">
            <button mat-button (click)="navigateBack()">Cancel</button>
            <button mat-flat-button type="submit" [disabled]="formGroup.invalid">Save</button>
        </div>
    </form>
</div>
