<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">My Monster</div>
            </div>
            <div class="right">
                <div id="hp">40 HP</div>
                <img class="energy icon" src="img-cards/swlogo2.png">
            </div>
        </header>
        <figure id="art">
            <img src="img-cards/c3po.png">
            <figcaption>N°03 Jedi</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="icon energy" src="img-cards/swlogo2.png">
                        <img class="icon energy" src="img-cards/swlogo2.png">
                    </div>
                    <div class="name">Cyber Force Pulse</div>
                    <div class="damage">80</div>
                </div>
            </div>
            <div class="description">C‑3PO unleashes his Cyber Force Pulse, proving even the galaxy’s most polite droid can pack a shock.</div>
        </div>
    </div>
</div>